/* CSS GENERAL */


* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif; 
}
.button1 {
    width:fit-content;
    padding:.75em 1.5em;
    border-radius: .3em;
    font-weight:500;
    font-size: 1em;
    background-color: #434b53;
    opacity: 0.6;
    border: .8px solid #faf5e4;
    color: #faf5e4;
}
.button1:hover {
    background-color:#75818caf;
}
.button2 {
    width:fit-content;
    padding:.75em 1em;
    border-radius: .3em;
    font-weight:500;
    font-size: 1em;
    background-color: #faf5e4;
    border: .8px solid #bfbfbd;
    color: #434b53;
}
 .button2:hover {
    background-color: #cac4b1;
}
.container {
    padding-top: 10em;
}


/* HEADER */


header {
    background-color: #434b53; 
    z-index: 1;
    opacity: 0.6;
    position: fixed;
    width: 100vw;
}   
header img {
    min-width: 300px;
    max-width: 400px;
    margin-left: 100px;
    top:0;
}
.nav_bar {
    display: inline-block;
    width: 55%;
    position: absolute;
    top: 50%;
    right: 0;
}
ul {
    list-style: none;
       
}
li {
    display: inline-block;
    width:fit-content;
    padding-left: 3em;
    position:relative;
    font-size: 14px;
}
header a:hover {
    color: #cac4b1;
}
ul ul {
    position: absolute;
    display: none;
}
ul ul li {
    display: block;
    background-color:black;
    padding: 1.2em;
    width: initial;

}
ul li:hover ul {
    display:block;
}
 
 

/* FOOTER */


.footer_box {
    background-color: #434b53;
    width:100%;
    display: inline-flex;
    justify-content: space-evenly;
    position: relative;
    bottom:0;
}
footer ul {
    display: block;
}
footer p, li, h3 {
    color: #faf5e4;
    letter-spacing: 0.1em;
    text-align: left;
}
footer h3 {
    font-size:1.2em;
    padding-bottom: 0.8em;  
}
footer li {
    font-size: 0.8em;
    padding: 0.3em;
    display: block;
}
footer p {
    display: block;
    background-color: #434b53;
    font-size: .8em;
    text-align: center;
    padding-bottom: 1em;
}
footer a:hover, footer .iconify:hover {
    color: #cac4b1;
}
.footer_map, .footer_social, .footer_logo {
    width: 30%;
    padding: 1.5em;
}
.footer_map {
    padding-left: 10em;
}
.footer_social {
    justify-content: space-evenly;
}
.iconify {
    width: 50px; 
    height: 50px; 
    color: #faf5e4;
    margin:1em;
}

.footer_logo img {
    width: 100%;
    margin:auto;
    padding: 1em;
    border: solid .5px #faf5e4;
    border-radius: .3em;
}


/* INDEX */


#index .container {
    padding:0;  
}
.hero {
    height: 100vh;
    background: url('media/hero-stairs-4.jpeg') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
}
.hero:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.1);
}
.hero_title {
    height: 400px;
    position:absolute;
    top: 30%;
    right:10%;
    margin:auto;
}
.hero_title h1 {
    color:white;
    font-weight: 500;
    font-size: 4em;
    margin-bottom: 20px;
}
.hero_title p {
    color:white;
    font-weight: 300;
    font-size: 2em;
    text-align: right;
}
.hero_links {
    display:flex;
    position: absolute;
    top: 55%;
    right:0;
}
.hero_links .button1 {
    display:inline-block;
    margin-right: 2em;    
}
.hero_links .button2 {
    display:inline-block;
}

.index_grid {
    display: grid;
    height: 150vh;
    grid-template-areas:
        "index_sub1 index_sub1 index_sub1 index_sub1"
        "card1 card2 card3 card4"
        "index_sub2 index_sub2 index_sub2 index_sub2"
        "card5 card5 card6 card6"
        "index_button index_button index_button index_button";
    grid-template-rows: 10% 25% 10% 25% 30%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

section#index_sub1 {
    grid-area: index_sub1;
    width: 100vw;
    text-align:center;
}
#index h2 {
    padding: 2em;
    text-align: center;
    color: #434b53;
}
section#card1 {
    grid-area: card1;
    padding-left: 40px;
}
section#card2 {
    grid-area: card2;
    padding-left: 40px;
}
section#card3 {
    grid-area: card3;
    padding-left: 40px;
}
section#card4 {
    grid-area: card4;
    padding-left: 40px;
}
section#index_sub2 {
    grid-area: index_sub2;
    width: 100vw;
    text-align:center;
    background-color: whitesmoke;
}

section#card5 {
    grid-area:card5;
    background-color: whitesmoke;
    padding-left: 40%;
}
section#card6 {
    grid-area:card6;
    background-color: whitesmoke;
    padding-left: 40%;
}
section#index_button {
    grid-area: index_button;
    background: url('media/index_fondo.jpg') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    display:inline-block;
    margin: 0%;
}
.card img, .product_card img {
    width: 20vw;
    height:20vh;
    border-radius: .3em;
}
.card .button1 {
    display:block;
}
.card .button2 {
    display:block;
}
#card5 h3, #card6 h3 {
    color: black;
    padding-bottom: 2em;
    font-size: 1em;
}

/* SOBRE NOSOTROS */


.about_box {
    display:flex;
    height:50vh;
    padding: 2em;
    background-image: linear-gradient(to left, white, #e2e1e1) ;
}
.box_vision {
    background-image: linear-gradient(to right, white, #e2e1e1);
}
.about_title {
    color: #d99e8c;
    font-size: 2em;
    width: 30%;    
}
.about_card {
    display: flex;
    width: 60vw;
    margin-right: 4em;
}
.about_card img {
    width: 50%;
    
}
.about_card p {
    padding-left: 2em;
    padding-right:2em;
}




/* PRODUCTOS */

.product_container {
   
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: #e2e1e1;
}
.product_card {
    width: 22%;
    margin: 10px 10px 50px 10px;
    padding: 1em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background-color: white;
    border-radius: .3em; 
}
.product_card h3, .product_card h4, .product_card p {
    padding:10px;
    text-align: center;
    opacity: 0.8;
}
.product_card img {
    max-width: 100%;
    border-radius: .3em;
} 
.description {
    margin-bottom: 25px;
}
.description_button {
    height: 4em;
    text-align: center;
}
.description h3 {
    color: #d99e8c;  
}


/* PROMOCIONES */

.grid {
    display: grid;
    height: 130vh;
    margin-bottom: 5%;
    grid-template-areas:
        "nav_img exclusivas exclusivas exclusivas exclusivas exclusivas exclusivas"
        "nav_img promo1 promo1 promo1 promo2 promo2 promo2"
        "nav_img descuentos descuentos descuentos descuentos descuentos descuentos"
        "nav_img desc1 desc1 desc2 desc2 desc3 desc3";
    grid-template-rows: 10% 35% 10% 35%;
    grid-template-columns: 28% repeat(6, 10%);
    column-gap:2%;
    row-gap: 5%;
}
.border {
    border-radius: 10px;
    box-shadow: 0 0 15px; 
    background-size: cover ;
    background-attachment:local;
    position:relative;
}
.promo_title h2 {
    color: #d99e8c;
    text-align: center;
    padding:20px;  
}
.card_prom {
    text-align: left;
}
.card_prom p {
    font-weight: 500;
    padding: 10px;
    margin-left:10px;
    margin-right:50%;
    color: #434b53;
}
.card_prom h4 {
    font-size: 25px;
    padding: 10px;
    color: #434b53;
}
.card_prom a {
    display: block;
    margin-left:10px;
}
.precio {
    font-size: 40px;
}
nav#nav_img {
    grid-area: nav_img;
    background: url('media/nav_img.jpg');
    background-size: contain ;
    background-attachment: fixed;
    position:relative;   
}
section#exclusivas {
    grid-area: exclusivas;
} 
section#promo1 {
    grid-area: promo1;
    background: url('media/promo5.jpg') no-repeat center/cover; 
} 

section#promo2 {
    grid-area: promo2;
    background: url('media/promo1.jpg') no-repeat center/cover;
} 
section#descuentos {
    grid-area: descuentos;
} 
section#desc1 {
    grid-area: desc1;
    background: url('media/promo2.jpg') no-repeat center/cover;
} 
section#desc2 {
    grid-area: desc2;
    background: url('media/promo3.jpg') no-repeat center/cover;
} 
section#desc3 {
    grid-area: desc3;
    background: url('media/promo4.jpg') no-repeat center/cover;
} 

/* CONTACTO */


.contacto {
    height: 100vh;
    background: url('media/contacto_fondo2.jpg') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
}
.contacto:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.contact_form {
    width: fit-content;
    height: 400px;
    position:absolute;
    top: 30%;
    right:60%;
    margin:auto;
    text-align:right;
}
.contact_form h1, .label, .info p {
    font-weight: 500;
    color: white;
}
label, input, select, .label  {
    display:block;
    margin-top: .60em;
    margin-bottom: .60em;
}
.form {
    padding: .5em 2em;
    border: solid 2px #e2e1e1;
    border-radius: .3em;
    text-align: justify;
}
.form .button1, .form .button2 {
    display:inline-block;
    margin-right:2em;
}
.info {
    width: fit-content;
    height: 400px;
    position:absolute;
    top: 30%;
    right:10%;
    margin:auto;
    text-align:right;   
}