@import "reseñas";

.container-fluid {
    font-family: 'Montserrat', sans-serif; 
}

/* ESTILOS DE FONDO */ 

#index .container-general {
    background: url('../media/fondo_index.webp') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.1);
    }
} 
#sobrenosotros .container-general {
    background: url('../media/fondo_sobrenosotros.webp') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.3);    
    }
} 
#productos .container-general {
    background: url('../media/fondo_productos.webp') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
    padding-top: 6em;
    padding-right: 2em; 
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);    
    }  
}  
#promociones .container-general {
    background: url('../media/fondo_promo.webp') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.1);    
    }
} 
#contacto .container-general {
    background: url('../media/contacto_fondo.webp') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
    padding-top: 6em;
    padding-right: 2em;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);    
    }
}  

/* ESTILO BOTONES */

.button {
    width:fit-content;
    padding:.75em 1.5em;
    border-radius: .3em;
    font-weight:500;
    font-size: 1rem;
}
.button__black {
    @extend .button; 
    background-color: black;
    border: solid 2px white;
    color: white;
    &:hover {
        background-color:gray;
    text-decoration: none;
    font-weight: 800;
    color: white;
    }
}
.button__white {
    @extend .button;
    background-color: white;
    border:solid 2px  black;
    color: black;
    &:hover {
        background-color: silver;
    text-decoration: none;
    font-weight: 800;
    color: black;
    }
}

/* ESTILO HEADER */

header {
    text-transform: uppercase;
    img {
        top:0;
        width: 10em;
    }
    li {
        display: inline-block;
        width:fit-content;
        padding-left: 2em;
        position:relative;
        font-size: 12px;
    }
    .navbar {
        background-color: black;
    }
}  
.navbar-dark .navbar-nav .nav-link {
    letter-spacing: 0.3em;
    color: white;
}

/* ESTILO FOOTER*/

footer {
    text-transform: uppercase;
    .footer__box {
        background-color: black;
        h3 {
            text-align: center;
            color: whitesmoke;
            font-size: 1em;
            padding-bottom: 0.8em;  
        }
        .footer__box--map {
            ul {
                padding-left: 0; 
                text-align: center;
                li {
                    display:block;
                    padding-left: 0; 
                    a {
                        color: whitesmoke;
                        letter-spacing: 0.1em;
                        text-decoration: none;
                        font-size: .6em;
                        &:hover {
                            color: #cac4b1;
                            text-decoration: none;
                        }  
                    }   
                }
            }    
        }
        .footer__box--social {
            text-align: center;
            .iconify {
                width: 50px; 
                height: 50px; 
                color: whitesmoke;
                margin: 1em;
                text-align: center;
                &:hover {
                    color: #cac4b1;
                    text-decoration: none; 
                } 
            }
        }
        .footer__box--logo {
            text-align: center;
            .img-fluid {
                width: 70%;
                border: solid whitesmoke;
            }
        }
    }
} 

/* ESTILO HERO */

.hero {
    height: 100vh;
    background: url('../media/fondo_index.webp') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    z-index: 0;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.1);
    }
    .hero_title {
        height: 400px;
        position:absolute;
        top: 30%;
        right:10%;
        text-align: right;
        margin:auto;
        h1 {
            color:white;
            font-weight: 500;
            font-size: 5vw;
            margin-bottom: 20px; 
        }
        p {
            color:white;
            font-weight: 300;
            font-size: 2vw;
        }
        a {
            margin-bottom: 1em;
        }
    }
}

/* ESTILO INDEX */

.container-carousel{
    background-color: rgb(255, 255, 255);
    padding: 10% 5%;
}
#index .card {
    border-radius: 1%;
    color: white;
    background-color: black;
    text-align: center;
    .card-title {
        text-transform: uppercase;
    }
    .carta__titulo {
        color:whitesmoke;
    }   
    .carta__titulo--fina {
        @extend .carta__titulo;
        font-weight: 100;
    }       
}
#index_button {
    height: 60vh;
    position: relative;
    align-items: center;
    text-align: center;
}

/* ESTILO SOBRE NOSOTROS */

.card_one {

    color:white;
    background-color: black;
    text-align: justify;
    border: 1px solid white;
    .card-header {
        font-size: 10px;
    }
    .card-title {
        text-transform: uppercase;
    }  
}
.reseñas {
        height: fit-content !important;
        background-color: $background-res;
        height: $alto+3em;
    }

/* ESTILO PRODUCTOS */

#productos .card {
    text-align: center;
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    min-width: 13em;
    padding-bottom: 3em;
}

/* ESTILO PROMOCIONES */

.card_promo1 {
    margin-top: 8em;
    text-align: center;
    color: white;
    background-color: $background-res;
    border: 1px solid white;
}
.card_promo2 {
    color: white;
    background-color: black;
    padding: .5em;
}

/* ESTILO CONTACTO */

@mixin colors ($color, $background-color) {
    color: $color;
    background-color:$background-color ;
}
#contacto form, #contacto .info {
    margin: 3em 3em 3em 3em;
    margin-top: 3em;
    padding: 5%;
    border: 2px solid white;
    border-radius: 1%;
    @include colors(whitesmoke, $background-res);
}
